<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>
                        Daftar Customer
                    </h1>
                    <div role="group" class="btn-group btn-group-sm btn-group-justified blocks">
                        <button  type="button" class="btn btn-sm btn-outline-secondary mr-2">
                            <i class="fa fa-search font-size-14 align-middle mr-1"></i> Pencarian 
                        </button>
                        <button type="button" class="btn btn-sm btn-primary mr-2" (click)="createCustomer(formCustomer)">
                            <i class="fa fa-plus font-size-14 align-middle mr-1"></i> Tambah Customer 
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <td>Nama</td>
                                <td>Email</td>
                                <td>Status</td>
                                <td width="90"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let val of listCustomer; index as i; trackBy:trackByIndex">
                                <td class="vertical-middle">{{val.nama}}</td>
                                <td class="vertical-middle">{{val.email}}</td>
                                <td class="vertical-middle">{{val.is_verified_txt}}</td>
                                <td class="vertical-middle text-right">
                                    <a href="javascript: void(0);" class="align-middle mr-2" (click)="updateCustomer(formCustomer, val)" placement="left" container="body" ngbTooltip="Ubah">
                                        <i class="fa fa-edit font-size-14"></i>
                                    </a>
                                    <a href="javascript: void(0);" class="align-middle" (click)="deleteCustomer(val.id)" placement="left" container="body" ngbTooltip="Hapus">
                                        <i class="fa fa-trash font-size-14"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formCustomer let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{titleModal}}</h5>
        <button type="button" class="close" (click)="modal.close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <customer-form [customerId]="modelId" (afterSave)="modal.close(); getCustomer()"></customer-form>
    </div>
</ng-template>