<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h1>Rekap Peminjaman User</h1>
                    <div
                        role="group"
                        class="btn-group btn-group-sm btn-group-justified blocks"
                    >
                        <button
                            type="button"
                            class="btn btn-sm btn-outline-secondary mr-2"
                        >
                            <i
                                class="fa fa-search font-size-14 align-middle mr-1"
                            ></i>
                            Pencarian
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table
                        datatable
                        [dtOptions]="dtOptions"
                        class="table table-hover"
                        data-page-length="20"
                    >
                        <thead class="thead-light">
                            <tr>
                                <th
                                    class="text-center align-middle"
                                    rowspan="2"
                                >
                                    No
                                </th>
                                <th
                                    class="text-center align-middle"
                                    rowspan="2"
                                >
                                    Nama
                                </th>
                                <th
                                    class="text-center align-middle"
                                    colspan="2"
                                >
                                    Buku
                                </th>
                                <th
                                    class="text-center align-middle"
                                    rowspan="2"
                                >
                                    Tanggal Peminjaman
                                </th>
                                <th
                                    class="text-center align-middle"
                                    rowspan="2"
                                >
                                    Tanggal Pengembalian
                                </th>
                                <th
                                    class="text-center align-middle"
                                    rowspan="2"
                                >
                                    Status
                                </th>
                                <th
                                    class="text-center align-middle"
                                    rowspan="2"
                                >
                                    Denda
                                </th>
                                <th
                                    class="text-center align-middle"
                                    rowspan="2"
                                >
                                    Jumlah Pinjaman
                                </th>
                            </tr>
                            <tr>
                                <th class="text-center align-middle">Judul</th>
                                <th class="text-center align-middle">
                                    Pengarang
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container
                                *ngFor="let val of listUser; index as i"
                            >
                                <tr
                                    *ngFor="
                                        let borrow of val.borrows;
                                        index as j
                                    "
                                >
                                    <td
                                        *ngIf="j == 0"
                                        [rowSpan]="val.borrows.length"
                                        class="text-center align-middle"
                                    >
                                        {{ i + 1 }}
                                    </td>
                                    <td
                                        class="text-center align-middle"
                                        *ngIf="j == 0"
                                        [rowSpan]="val.borrows.length"
                                    >
                                        {{ val.nama }}
                                    </td>
                                    <td class="text-center align-middle">
                                        {{ borrow.book.title }}
                                    </td>
                                    <td class="text-center align-middle">
                                        {{ borrow.book.author }}
                                    </td>
                                    <td class="text-center align-middle">
                                        {{ borrow.borrow_date }}
                                    </td>
                                    <td class="text-center align-middle">
                                        {{ borrow.return_date }}
                                    </td>
                                    <td class="align-middle text-center">
                                        <span
                                            [ngClass]="{
                                                'btn-success':
                                                    borrow.status == 'ontime',
                                                'btn-danger':
                                                    borrow.status ==
                                                        'late return' ||
                                                    borrow.status ==
                                                        'late not return',
                                                'btn-warning':
                                                    borrow.status == 'borrowed'
                                            }"
                                            class="btn"
                                        >
                                            {{
                                                borrow.status == "ontime"
                                                    ? "Dikembalikan"
                                                    : borrow.status ==
                                                      "late return"
                                                    ? "Terlambat Dikembalikan"
                                                    : borrow.status ==
                                                      "late not return"
                                                    ? "Terlambat Belum Dikembalikan"
                                                    : "Sedang Dipinjam"
                                            }}
                                        </span>
                                    </td>
                                    <td class="text-center align-middle">
                                        {{
                                            borrow.denda == 0
                                                ? "-"
                                                : (borrow.denda
                                                  | currency: "Rp. ")
                                        }}
                                    </td>
                                    <td
                                        class="text-center align-middle"
                                        *ngIf="j == 0"
                                        [rowSpan]="val.borrows.length"
                                    >
                                        {{ val.borrows.length }}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
