<nav class="navbar navbar-expand-lg bg-light shadow" id="page-topbar">
    <div class="container-fluid">
        <a class="navbar-brand xs-hidden sm-hidden" style="padding: 0" href="#">
            <img
                src="https://venturo.id/public/assets/img/logo%20venturo%20(1).png"
                alt=""
                height="22"
            />
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fa fa-fw fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown" ngbDropdown>
                    <a
                        class="nav-link dropdown-toggle arrow-none text-dark"
                        (click)="onMenuClick($event)"
                        href="javascript: void(0);"
                        id="topnav-components"
                        role="button"
                        ngbDropdownToggle
                    >
                        Menu
                        <div class="arrow-down"></div>
                    </a>
                    <div
                        class="dropdown-menu row"
                        aria-labelledby="topnav-dashboard"
                        ngbDropdownMenu
                    >
                        <a
                            href="javascript: void(0);"
                            class="col dropdown-item side-nav-link-ref"
                            [routerLink]="['/master/users']"
                            >User</a
                        >
                        <!-- <a
                            href="javascript: void(0);"
                            class="col dropdown-item side-nav-link-ref"
                            [routerLink]="['/master/customers']"
                            >Customer</a
                        >
                        <a
                            href="javascript: void(0);"
                            class="col dropdown-item side-nav-link-ref"
                            [routerLink]="['/master/items']"
                            >Menu</a
                        > -->
                        <a
                            href="javascript: void(0);"
                            class="col dropdown-item side-nav-link-ref"
                            [routerLink]="['/master/books']"
                            >Book</a
                        >
                        <a
                            href="javascript: void(0);"
                            class="col dropdown-item side-nav-link-ref"
                            [routerLink]="['/master/borrows']"
                            >Daftar Pinjaman</a
                        >
                    </div>
                </li>
                <li class="nav-item dropdown" ngbDropdown>
                    <a
                        class="nav-link dropdown-toggle arrow-none text-dark"
                        (click)="onMenuClick($event)"
                        href="javascript: void(0);"
                        id="topnav-components"
                        role="button"
                        ngbDropdownToggle
                    >
                        Laporan
                        <div class="arrow-down"></div>
                    </a>
                    <div
                        class="dropdown-menu row"
                        aria-labelledby="topnav-dashboard"
                        ngbDropdownMenu
                    >
                        <a class="col dropdown-item side-nav-link-ref"
                            >Data Pinjaman</a
                        >
                    </div>
                </li>
            </ul>
        </div>

        <div class="d-flex mobile-profile">
            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button
                    type="button"
                    class="btn header-item noti-icon"
                    data-toggle="fullscreen"
                    (click)="fullscreen()"
                >
                    <i class="bx bx-fullscreen text-dark"></i>
                </button>
            </div>
            <div class="dropdown d-inline-block" ngbDropdown>
                <button
                    type="button"
                    class="btn header-item text-dark"
                    id="page-header-user-dropdown"
                    ngbDropdownToggle
                >
                    <img
                        class="rounded-circle header-profile-user"
                        src="{{ userLogin.fotoUrl }}"
                        alt="Header Avatar"
                    />
                    <span class="d-none d-xl-inline-block ml-1">{{
                        userLogin.nama
                    }}</span>
                    <i
                        class="mdi mdi-chevron-down d-none d-xl-inline-block"
                    ></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <!-- item-->
                    <a class="dropdown-item" href="javascript: void(0);">
                        <i
                            class="bx bx-user font-size-16 align-middle mr-1"
                        ></i>
                        Profile
                    </a>
                    <a
                        class="dropdown-item"
                        href="javascript: void(0);"
                        [routerLink]="['/roles']"
                    >
                        <i
                            class="bx bx-wrench font-size-16 align-middle mr-1"
                        ></i>
                        Roles
                    </a>
                    <a
                        class="dropdown-item text-danger"
                        href="javascript: void(0);"
                        (click)="logout()"
                    >
                        <i
                            class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"
                        ></i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
